@import './style.css';

.main {
   padding: 160px 0 60px;
}

.main__inner {}

.main__content {
   display: flex;
   justify-content: space-between;
   margin-bottom: 60px;
}

.main__title {
   max-width: 775px;
   font-size: 72px;
   line-height: 80px;
   font-family: 'Stolzl-Book';
   margin-right: 20px;
}

.main__text {
   max-width: 448px;
   font-size: 20px;
   line-height: 28px;
   font-family: 'Stolzl-Book';
}

.main__text-mobile {
   display: none;
}

.main__desc:first-child {
   margin-bottom: 24px;
}

.main__img-wrapper {
   max-width: 1352px;
   height: 588px;
}

.main__img {
   background: url('../images/solution-main-img.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   width: 100%;
   height: 100%;
   border-radius: 16px;
}

/* --------------------------------------------------------------------- */

.services {
   font-family: 'Stolzl-Book';
   padding: 40px 0 80px;
}

.container {}

.services__inner {}

.services__card-wrapper {
   display: flex;
   flex-wrap: wrap;
   gap: 4px;
}

.services-card {
   background: #242420;
   border: 1px solid #242420;
   border-radius: 28px;
   max-width: 448px;
   height: 468px;
   padding: 28px 24px;
}

.services-card__img {
   margin-bottom: 80px;
}

.services-card__title {
   font-family: 'Stolzl-Regular';
   margin-bottom: 24px;
   font-size: 28px;
   line-height: 36px;
}

.services-card__desc {
   font-size: 20px;
   line-height: 28px;
}

@media (max-width: 1150px) {}

@media (max-width: 1024px) {
   .main__content {
      flex-direction: column;
      gap: 24px;
   }

   .main__text {
      display: flex;
      max-width: 900px;
   }

   .main__desc:first-child {
      margin: 0 24px 0 0;
   }
}

@media (max-width: 768px) {
   .main__text {
      display: none;
   }

   .main__text-mobile {
      display: flex;
      font-size: 20px;
      line-height: 28px;
      font-family: 'Stolzl-Book';
      justify-content: space-between;
      flex-direction: column;
      gap: 24px;
   }

   .main__img-wrapper {
      margin-bottom: 24px;
   }

   .services-card {
      max-width: 900px;
      height: fit-content;
      padding: 28px 24px;
   }

   .main__img-wrapper {
      height: 297px;
   }

   .main__title {
      font-size: 28px;
      line-height: 32px;
   }

}

@media (max-width: 425px) {}