@import './style.css';

.main {
   padding: 160px 0 60px; 
}

.main__inner {}

.main__title {
   margin-bottom: 80px;
}

.main__card-content {
   display: flex;
   gap: 4px;
   font-family: 'Stolzl-Book';
   flex-wrap: wrap;
}

.main__card {
   padding: 24px;
   background: #242420;
   border: 1px solid #242420;
   border-radius: 28px;
   max-width: 335px;
}

.main-card__img {
   margin-bottom: 80px;
   width: 134px;
}

.main-card__title {
   margin-bottom: 24px;
   font-size: 28px;
   line-height: 36px;
}

.main-card__desc {
   font-size: 16px;
   line-height: 20px;
}

@media (max-width: 768px) {
   .main__card {
      max-width: 100%;

      padding: 28px 16px;
   }

   .main-card__img {
      margin-bottom: 24px;
      width: 128px;
   }

   .main-card__title {
      margin-bottom: 12px;
      font-size: 18px;
      line-height: 24px;
   }

   .main-card__desc {
      font-size: 14px;
      line-height: 22px;
   }
}